### ---------------
### --- General ---
### ---------------

# Dependencies
node_modules/
.pnp
.pnp.js

# Building
.turbo
*.tsbuildinfo
dist/

# Testing
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env*.local

# IDE
.idea/

# Misc
.DS_Store
*.pem

### -----------------------
### --- Tests / Next.js ---
### -----------------------

.conte/
.contly/
next-env.d.ts
.vercel
.next/
out/
build/

